img {
  margin: auto;
  display: block;
  height: 300px;
}

body {
  font-family: helvetica, arial, sans-serif;
  height: 100%;
}

footer{ min-height:50px; }

button {
  float: left;
  margin: 1px 3px 5px 10px;
}

.removed {
  display: none;
}

#status {
  font-size:150%;
}

a:link, a:visited {
  color: white;
  display: inline-block;
}

a:hover, a:active {
  color: #C0C0C0;
}

.context-dark, .bg-gray-dark, .bg-primary {
  color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
  color: #ffffff;
}
.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  font-size: 14px;
}